.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 98%;
  margin: 30px 20px 0 20px;
  font-family: Roboto-Medium, sans-serif;
  padding-left: 20px;
  background: white;
  height: 80%;
  @media (max-width: 700px) {
    margin-top: 100px;
  }
}

.tableHeader {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  text-align: left;
  border-bottom: 1px solid #e1e8ee;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 10px;
}

.appointmentDayHeader {
  width: 99%;
  font-family: Roboto-Medium, Serif;
  font-size: 18px;
  color: #358ed7;
  line-height: 18px;
  margin-top: 20px;
  flex: 1 0 auto;
  text-align: left;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.note {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: orange;
  letter-spacing: 0;
  line-height: 14px;
  width: 20%;
  padding: 10px;
  text-align: left;
  padding-left: 5%;
  flex: 1 0 auto;
}

.patientItem {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #364563;
  letter-spacing: 0;
  line-height: 14px;
  width: 20%;
  text-align: left;
  flex: 1 0 auto;
}

.patientItemName {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #364563;
  letter-spacing: 0;
  line-height: 14px;
  width: 15%;
  text-align: left;
  padding-left: 5%;
  flex: 1 0 auto;
}
.emptyContainer {
  display: flex;
  flex-direction: Column;
  align-items: center;
  justify-content: center;
}

.emptyState {
  margin: 30px 0;
}

.startAppointment {
  font-family: Roboto-Medium, sans-serif;
  background-color: #03d27f;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: white;
  cursor: pointer;
  width: auto;
}

.disabledButton {
  font-family: Roboto-Medium, sans-serif;
  background-color: orange;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
  color: white;
  width: auto;
  cursor: not-allowed;
  pointer-events: none;
}

.headerItem {
  text-align: center;
  font-family: Roboto-Medium;
  font-size: 14px;
  color: #bdc7cf;
  letter-spacing: 0;
  padding: 10px;
  cursor: pointer;
  flex: 1 0 auto;
}
.addAppointment {
  font-family: Roboto-Medium, sans-serif;
  background-color: white;
  width: auto;
  height: 30px;
  border: 2px solid #e1e8ee;
  border-radius: 6px;
  font-size: 14px;
  color: #358ed7;
  cursor: pointer;
}
