:root {
  --main-bg-color: #81cce6;
}

body,
html {
  font-size: 18px;
  background: var(--main-bg-color) !important;
  font-family: "Montserrat", Arial !important;
  max-height: 100vh;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  /* display: grid;
  align-content: center;
  position: relative; */
}

body::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
body::-webkit-scrollbar {
  width: 10px;
  background-color: #f2f2f2;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d383b6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
label,
ul,
ol,
input,
button,
a,
select,
main,
section,
article,
div {
  font-family: "Montserrat", Arial !important;
}

/* @media only screen and (max-width: 768px) {
  body {
    font-size: 16px !important;
    background: red !important;
  }
}

@media only screen and (max-width: 992px and min-width) {
  body {
    font-size: 16px !important;
    background: pink !important;
  }
} */

@media print {
  body,
  html {
    font-size: 20px !important;
    overflow-y: visible;
    overflow-x: visible;
  }
  /*CHI Report > Wysiwyg editor > Recommendations > list/bullets*/
  #determinants-group-wrapper .public-DraftStyleDefault-block{
    margin: 0 !important
  }

  .public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR{
    line-height: 1 !important
  }

  .rdw-editor-main {
    min-height: fit-content !important;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 16px !important;
  }
  body::-webkit-scrollbar{
    width: 2px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 16px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 18px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    font-size: 18px !important;
  }
}

.loading-logo-wrapper {
  animation: bounce 1.5s ease infinite;
  margin: 0;
}

.shadow {
  width: 150px;
  transition: 300ms ease;
  animation: expand 1.5s ease infinite;
}

.loading {
  width: 3px;
  height: 3px;
  display: inline-block;
  position: relative;
  border-radius: 100%;
}

.loading:after {
  content: "  .";
  animation: dots 1s steps(5, end) infinite;
}

.breadcrumbs {
  color: #fff;
  background: #d383b6;
  border-radius: 10px;
  margin: 0 5px;
  font-size: 15px;
  padding: 3px 10px;
  font-style: normal;
}

.react-confirm-alert-button-group{
  justify-content: flex-end !important;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

@keyframes expand {
  0% {
    width: 150px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 150px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
/*CHI Report > Wysiwyg editor > Recommendations > list/bullets*/
#determinants-group-wrapper .public-DraftStyleDefault-block{
  margin: 0 !important
}

.public-DraftStyleDefault-depth1.public-DraftStyleDefault-listLTR{
  line-height: 1 !important
}

.rdw-editor-main {
  min-height: fit-content !important;
}