body {
  margin: 0;
}

.dropdown-box {
  display: block;
  position: relative;
}

.dropdown-box:hover .dropdown-content {
    -js-display: flex;
    display: -webkit-box;      /* OLD - iOS 6- Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
}

.dropdown-link {
  margin-right: 2em;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto-Medium", sans-serif;
  cursor: pointer;
}

.dropdown-link:after {
  content: close-quote; /* content of the arrow, you want to keep this empty */
  position: relative;
  border: 0.313em solid transparent; /* 5 pixels wide */
  border-bottom: none;  /* helps the drop-down arrow stay in the vertical centre of the parent */
  border-top-color: white;   /* colour of the drop-down arrow */
  vertical-align: middle;
  display: inline-block;
  right: -0.613em; /* 5 pixels right of the menu text*/
}
.dropdown-content {
  color: #fff;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  display: none;
  position: absolute;
  height: 3em;
  width: 5em;
  background-color: white;
}

.dropdown-content a {
  text-decoration: none;
  font-family: "Roboto-Medium", sans-serif;
  color: #000;
  padding: 16px 16px;
  border-bottom: 1px solid lightgray;
  width: 100%;
  font-size: 14px;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.rdt {
  position: relative;
}

.rdt>input {
  padding: 13px 30px 13px 30px;
  margin-top: 20px;
  width: 247px;
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
}

.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  border: 1px solid #f9f9f9;
}

.rdtOpen .rdtPicker {
  display: block;
}

.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}

.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}

.rdtPicker td {
  cursor: pointer;
}

.rdtPicker td.rdtToday:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}

.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}

.rdtPicker td.rdtToday {
  position: relative;
}

.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}

.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}

.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}

.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
}

.rdtPicker th.rdtSwitch {
  width: 100px;
}

.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker thead tr:first-child th {
  cursor: pointer;
}

.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}

.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}

td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters>div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.rdtCounter .rdtBtn:hover {
  background: #eee;
}

.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtDayPart {
  margin-top: 43px;
}

.frames__callees {
  margin: 17px 0 0 0;
  font-size: 0;
}

.frames_callee {
  flex-basis: 0;
  flex-grow: 1;
}

.frames_callee.wait:after {
  min-width: auto;
  min-height: auto;
  background-size: 30%;
}

.frames_callee__inner {
  margin: 0 0 5px 0;
}

.frames_callee__status {
  width: 100%;
  top: -14px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.frames_callee__video {
  border: 4px solid transparent;
  transition: border-color .3s ease;
}

.frames_callee__video.active {
  border-color: #41cc44;
}

.frames_callee-wait .callees__callee__inner:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: white url('images/loader.svg') no-repeat center;
  z-index: 9;
}

.frames_callee__name {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  line-height: 1.2;
  margin: 0;
}

.j-callees__callee__video {
  margin-top: 10px;
  background: white url('images/loader.svg') no-repeat center;
  width: 100%;
  border: 3px solid #364563;
}

#localVideo {
  border: 3px solid #364563;
  width: 160px;
  height: 120px;
  margin-right: -6px;
}

.personal-video {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 90%;
    justify-content: space-between;
    margin-top: -153px;
    z-index: 99999;
}

.InputRange-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  border-radius: 100%;
  cursor: pointer;
  display: block;
  height: 1rem;
  margin-left: -0.5rem;
  margin-top: -0.65rem;
  outline: none;
  position: absolute;
  top: 50%;
  transition: -webkit-transform 0.3s ease-out, box-shadow 0.3s ease-out;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
  width: 1rem;
}

.InputRange-slider:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.InputRange-slider:focus {
  box-shadow: 0 0 0 5px rgba(63, 81, 181, 0.2);
}

.InputRange.is-disabled .InputRange-slider {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
}

.InputRange-sliderContainer {
  transition: left 0.3s ease-out;
}

.InputRange-label {
  color: #aaaaaa;
  font-family: "Helvetica Neue", san-serif;
  font-size: 0.8rem;
  white-space: nowrap;
}

.InputRange-label--min,
.InputRange-label--max {
  bottom: -1.4rem;
  position: absolute;
}

.InputRange-label--min {
  left: 0;
}

.InputRange-label--max {
  right: 0;
}

.InputRange-label--value {
  position: absolute;
  top: -1.8rem;
}

.InputRange-labelContainer {
  left: -50%;
  position: relative;
}

.InputRange-label--max .InputRange-labelContainer {
  left: 50%;
}

.InputRange-track {
  background: #eeeeee;
  border-radius: 0.3rem;
  cursor: pointer;
  display: block;
  height: 0.3rem;
  position: relative;
  transition: left 0.3s ease-out, width 0.3s ease-out;
}

.InputRange.is-disabled .InputRange-track {
  background: #eeeeee;
}

.InputRange-track--container {
  left: 0;
  margin-top: -0.15rem;
  position: absolute;
  right: 0;
  top: 50%;
}

.InputRange-track--active {
  background: #3f51b5;
}

.InputRange {
  height: 1rem;
  position: relative;
  width: 100%;
  margin-top: 50px;
}
