$primary-color: #000;

.maindiv {
  width: 99%;
  background: gray;
  margin-top: 60px;
}
.title {
  background: green;
  min-width: 100%;
  color: orange;
  display: -webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background: white;
  width: 99%;
  font-family: "Roboto-Medium", sans-serif;
  padding-left: 5px;
  @media (max-width: 700px) {
    margin-top: 100px;
  }
}

.item {
  flex: 1;
}

.personalStyle {
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
}

.personalItem {
  border: 1px solid;
  flex: 1 0 200px;
  padding: 5px;
}
