@import 'normalize.css';

$primary-color: black;
#notes{
  background: green;
  font-size: 50px;
}

.title {
  color: orange;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
  max-width: 40em;
  line-height: 1.5;
  padding: 4em 1em;
  text-align: center;
}
